.tile-set-left
    .tile
        button#save(type="button") Save
        label.ins(for="save") Save as file...
    .tile
        input#file(type="file")
        label.ins(for="file") Load from file...

.tile-set-center
.tile-set-right
    .tile
        .gr
            select#translation
                each translation, tag in translations
                    option(value=tag)=translation
            label.ins(for="translation") Select translation
        .gr
            input#theme(type="checkbox")
            label.ins(for="theme") Light theme
        .gr
            input#vars(type="checkbox")
            label.ins(for="vars") Use var names in preview
