include mixins

doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Create your logger
    body
        #base
            #header
                include tabs
            #terminal
                include terminal
            #footer
