// Google
meta(name="google-site-verification" content="djp8kEjyU-h1B5fmnIV-EW99suwC7LxX5aTvQndcOOM")

// Yandex
// meta(name="yandex-verification" content="68c68fb16786e462")

// Mail.ru
// meta(name="wmail-verification" content="b6438c41e0e7f01ff646e3ca753229cd")
