.tile-set-left
    .tile
        +colors('for', "Front color")
        +colors('back', "Back color")
    .tile
        each style in styles
            .gr
                input.term-changer(id=style value=style name="sty" type="radio")
                label.ins(for=style)=style
    .tile
        +simple('blink', 'cross', 'under', 'ita')

.tile-set-center
    +presets({ error: "back-red sty-bold", warning: "for-yellow", info: "for-blue", plain: "" })
    //TODO: replace following with values read from cookies.
    +presets({ modern: "", beautiful: "", original: "", creative: "" })

.tile-set-right
    .tile
        .gr-in
            .gr-in
                #var-name.mdl-textfield.mdl-js-textfield
                    input#var-name-input.variable.mdl-textfield__input(type="text")
                    label.mdl-textfield__label(for="var-name") Variable name
            .gr-in
                #var-type.mdl-textfield.mdl-js-textfield
                    select#var-type-input.variable.mdl-textfield__input(disabled="disabled")
                        option
                        each type in types
                            option(value=type)=type
                    label.mdl-textfield__label(for="var-type") Variable type
