.tile-set-left
    .tile
        +colors('for', "Front color")
        +colors('back', "Back color")
    .tile
        each style in styles
            .gr
                input.term-changer(id=style value=style name="sty" type="radio")
                label.ins(for=style)=style
    .tile
        +simple('blink', 'cross', 'under', 'ita')

.tile-set-center
    +presets({ error: "back-red sty-bold", warning: "for-yellow", info: "for-blue", plain: "" })
    //TODO: replace following with values read from cookies.
    +presets({ modern: "", beautiful: "", original: "", creative: "" })

.tile-set-right
    .tile
        .gr-in
            .gr-in
                input#var-name.variable(type="text" placeholder="Variable name")
            .gr-in
                input#var-type.variable(type="text" list="types-list" disabled="disabled" placeholder="Variable type")
                datalist#types-list
                    each type in types
                        option(value=type)
