#tab-links
    button#file-tab.tab-link(name="FILE") File
    button#style-tab.tab-link(name="STYLE") Style
    button#preview-tab.tab-link.collapsing(name="PREVIEW") Preview
    button#code-tab.tab-link.collapsing(name="CODE") Code &#9660;

#tab-contents
    form#file-content.tab-content
        include file_tab


    form#style-content.tab-content
        include style_tab


    form#preview-content.tab-content
    form#code-content.tab-content
