#tab-links
    button#file-tab.mdl-button.mdl-js-button.tab-link(name="FILE") File
    button#style-tab.mdl-button.mdl-js-button.tab-link(name="STYLE") Style
    button#preview-tab.tab-link.mdl-button.mdl-js-button.collapsing(name="PREVIEW") Preview
    button#code-tab.tab-link.mdl-button.mdl-js-button.collapsing(name="CODE") Code &#9660;
    ul.mdl-menu.mdl-js-menu(for="code-tab")
        each language in languages
            li.mdl-menu__item=language

#tab-contents
    form#file-content.tab-content
        include file_tab


    form#style-content.tab-content
        include style_tab


    form#preview-content.tab-content
    form#code-content.tab-content
