.line
    .ins.line-number 1
    .line-content
        span.back-cyan.under Hello
        span &nbsp;
        span.back-yellow.for-blue.blink from
        span &nbsp;
        span.for-green.ita.sty-dim(data-var-name="app_name" data-var-type="String") create-logger!
.line
    #line-adder.ins.line-number +
