.line
    .ins.line-number 1
    .line-content
        span.back-cyan.under Click
        span.back-yellow.for-blue.blink "+"
        span.for-green.ita.sty-dim to
        span.back-red.cross add
        span.sty-bold lines!
.line
    #line-adder.ins.line-number +
