.line
    .ins.line-number 1
    .line-content
        span.back-cyan.under Click&#160;
        span.back-yellow.for-blue.blink "+"&#160;
        span.for-green.ita.sty-dim to&#160;
        span.back-red.cross add&#160;
        span.sty-bold lines!
.line
    #line-adder.ins.line-number +
