.line
    .ins.line-number 1
    .line-content
        span.back-cyan.under Click
        span &nbsp;
        span.back-yellow.for-blue.blink "+"
        span &nbsp;
        span.for-green.ita.sty-dim to
        span &nbsp;
        span.back-red.cross(data-var-name="operation" data-var-type="String") add
        span &nbsp;
        span.sty-bold lines!
.line
    .ins.line-number 2
    .line-content
        span.back-cyan.under kkk
        span &nbsp;
        span.back-yellow.for-magenta.blink ttt
.line
    #line-adder.ins.line-number +
