@bold: 700;
@normal: 400;
@dim: 100;

.ins {
  cursor: default;
  user-select: none;
}



@positions: start, center, end;
each(@positions, {
  .@{value}-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: @value;
    > * {
      margin: 5px !important;
    }
  }
});
