.mdl-layout__content {
  display: flex !important;
  flex-direction: column;
  overflow-y: hidden !important;
}

.mdl-layout__tab-panel {
  width: 100%;
  height: 100%;
}

.mdl-grid {
  > * {
    margin: 8px;
  }
}



.mdl-textfield {
  padding: 0 !important;
}

.mdl-textfield__label {
  top: 4px !important;
}

.mdl-textfield__label:after {
  bottom: 0 !important;
}
