@import "main.less";



#tab-links {
  .holder();
  height: 40%;
  border-bottom: 1px solid #ccc;
}

.tab-link {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-links:active {
  background-color: #ccc;
}



#tab-contents {
  .holder();
  min-height: 60%;
  padding: .5rem;
}

.tab-content {
  .holder();
  height: 100%;
  display: none;
}

#preview-content {
  height: 0;
}



.tile {
  display: flex;
  flex-direction: column;
  height: 100%;
  + .tile {
    margin-left: .5rem;
  }
}

.gr {
  .holder();
  flex-direction: row;
}

.gr-in {
  .holder();
  flex-direction: column;
  + .gr-in {
    margin-top: .5rem;
  }
}



input[type='radio'] + label {
  position: relative;
}
