@import "main.less";



#tabs {
  display: flex;
  height: 30%;
}



.preset {
  background-color: @def-back;
  color: @def-for;
  font-weight: @@def-sty;

  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}
