@import "main.less";



#terminal {
  min-height: 70%;
  max-height: 100%;

  display: flex;
  flex-grow: 1;
  flex-direction: column;

  overflow: auto;

  font-family: 'Courier New', monospace;
  font-size: small;

  background-color: @def-back;
  color: @def-for;
  font-weight: @@def-sty;

  ::selection {
    background: transparent;
    text-shadow: none;
  }
}

.line {
  display: flex;
  flex-direction: row;
  min-height: 1rem;
  width: 100%;
  margin: 0 0 .5rem;
}

.line-number {
  display: flex;
  width: 5%;
  cursor: pointer;
  user-select: none;
}

.line-content {
  display: flex;
  width: 95%;
  flex-grow: 1;
  overflow-wrap: break-word;

  > span {
    white-space: nowrap;
  }
}

.chosen {
  cursor: default;
}



:not(.chosen)+.line-content {
  user-select: none;
}

.selected {
  box-shadow: 0 .5rem .25rem -.25rem white;
}



[contenteditable] {
  outline: 0 solid transparent;
}



.selection {
  position: fixed;
  pointer-events: none;
  background-color: black;
}
