@import "main.less";
@import "support.less";



#terminal {
  min-height: 70%;
  max-height: 100%;

  display: flex;
  flex-grow: 1;
  flex-direction: column;

  overflow: auto;

  font-family: 'Courier New', monospace;
  font-size: small;

  background-color: @def-back;
  color: @def-for;
  caret-color: transparent;
  font-weight: @@def-sty;
}



.GENERAL-terminal, .STYLE-terminal {
  .line-content {
    user-select: none;
  }
}

.STYLE-terminal {
  user-select: none;

  .line-number {
    cursor: pointer;

    &#line-adder {
      display: flex;
    }
  }

  #line_adder {
    display: flex;
  }

  ::selection {
    background: transparent;
    text-shadow: none;
  }
}

.PREVIEW-terminal, .CODE-terminal {
  .line {
    margin: 0;
  }

  .line-content {
    > span {
      white-space: normal;
    }
  }
}

.CODE-terminal {
  .line-number {
    cursor: default;
  }
}



.line {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: .5rem 0;
}

.line-number {
  display: flex;
  width: 32px;
  cursor: default;
  user-select: none;

  &#line-adder {
    display: none;
  }
}

.line-content {
  display: flex;
  width: 95%;
  flex-grow: 1;
  overflow-wrap: break-word;
  user-select: auto;

  > span {
    white-space: nowrap;
  }
}

.chosen {
  cursor: default;
  user-select: auto;
}



span[data-var-name] {
  box-shadow: 0 .37rem .25rem -.1rem white, 0 -.37rem .25rem -.1rem white;
}



[contenteditable] {
  outline: 0 solid transparent;
}



.selection {
  position: fixed;
  pointer-events: none;
  border-radius: 2px;
  border-top: 2px solid @material-pink;
  border-bottom: 2px solid @material-pink;
}
